<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Baton Club</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>MomoSignature-Regular.ttf</string>
		<string>SUSE-ExtraLight.ttf</string>
		<string>SUSE-SemiBold.ttf</string>
		<string>SUSE-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
